<h1>Add a Trainer to the DB</h1>

<form action="/trainers/create" method="POST">

<div>
    Name:
<input type="text" name="trainerName">
</div>

<div>
    Hometown:
<input type="text" name="trainerHometown">
</div>

<div>
    Age:
<input type="number" name="trainerAge">
</div>

<div>
    Image:
<input type="text" name="trainerImg">
</div>




<button>Submit</button>

</form>