
<form action="/characters/create" method="POST">

<div>
    Name:
    <input type="text" name="theName">
</div>
<div>
    Occupation:
    <input type="text" name="theOccupation">
</div>
<div> 
    Weapon: 
    <input type="text" name="theWeapon">
</div>
<div>
    Debt:
    <input type="checkbox" value="true" name="theDebt">
</div>



<button>Submit</button>


</form>