<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{!-- usually people link one css file here that affects all the pages --}}
    {{!-- often this contains stuff like the main colors of the app the fonts etc --}}
    {{!-- and then often people will have another css file linked to individual pages --}}
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/all-products">See Products</a>
        <a href="/blah-page">Secret Work Page</a>
        <a href="/welcome">Welcome Page</a>
        <a href="/pokemon">Pokemon Page</a>
    </nav>

    {{{body}}}
    {{!-- this part here is going to be equal to whichever hbs file  --}}
    {{!-- is being rendered for the route --}}
    
</body>
</html>