
<h1>List Your Guitar For Sale</h1>

<form action="/guitars/create" method="POST">

<label>Model
    <input type="text" name="theModel">
</label>

<br><br>

<label>Condition
    <input type="text" name="theCondition">
</label>

<br><br>

<label>Price
    <input type="number" name="thePrice">
</label>

<br><br>

<label>Description
    <input type="text" name="theDescription">
</label>

<br><br>

<label>Image URL
    <input type="text" name="img">
</label>



<button type="submit">Save</button>


</form>