 <div class="beer-box">
        <h2>{{this.name}}</h2>

        <img src="{{this.image_url}}" alt="image of the beer" width="60px">

        <h6>{{this.tagline}}</h6>


        <p>{{this.description}}</p>


  </div>